In [1]:
import pandas as pd

In [2]:
path = "budget_data.csv"

In [3]:
budget = pd.read_csv(path)
budget

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [4]:
# Calculating the length of the list, sum of profits/losses
total_months = len(budget['Date'])
total = sum(budget['Profit/Losses']) 
# Calculating the mean, max and min for Profit/Losses
min_value = (budget['Profit/Losses']).min()
max_value = (budget['Profit/Losses']).max()
# Calculating the average change in revenue
# Calculating the difference in Profit/Losses
diff = (budget['Profit/Losses']).diff()
#Telling defining the fuction from 1 on as 0 is undefined
final_diff = diff.mean()

In [5]:
# Finding the date of the highest value and lowest value using .loc ==
max_info = budget.loc[budget['Profit/Losses'] == max_value, 'Date'].iloc[0]
min_info = budget.loc[budget['Profit/Losses'] == min_value, 'Date'].iloc[0]

In [7]:
# printing it all out
print("Financial Analysis")
print(f"----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${total}")
print(f"Average Change: ${round(final_diff,2)}")
print(f"Greatest Increase in Profits: {max_info} ${max_value}")
print(f"Greatest Decrease in Profits: {min_info} ${min_value}")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 $1170593
Greatest Decrease in Profits: Sep-2013 $-1196225

In [ ]:
import sys
sys.stdout = open('budget.txt', 'w')
print("Financial Analysis")
print(f"----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${total}")
print(f"Average Change: ${round(final_average_diff,2)}")
print(f"Greatest Increase in Profits: {max_info} ${max_value}")
print(f"Greatest Decrease in Profits: {min_info} ${min_value}")
sys.stdout.close()