In [1]:
# Creating present future value function
# ** == ^
def get_future_value(pv,i,n,t):
    future_value = pv*(1+(i/n))**(n*t)
    return future_value

In [2]:
Pv = 10000
i = .1
n = 1
t = 1

In [3]:
# Compounded Yearly
get_future_value(10000,0.1,1,1)

11000.0

In [4]:
# Compounded Quarterly
get_future_value(10000,0.1,4,1)

11038.128906249995

In [5]:
# Compounded Daily
get_future_value(10000,0.1,365,1)

11051.557816162325

In [6]:
# Net Present Value
# NPV = (sum of (cashflows / (1+i)^t)) - (inital investment amount)
# i = disocunt rate (rate that could be earned by alternative investments)
# t = numer of years

In [7]:
# Ex. proposed project cost $1000 and return is:
# year 1 - 400
# year 2 - 400
# year 3 - 400
# year 4 - 400
# is it worth it?
# npv = (400/1+0.1)^1 + (400/1+0.1)^2 + ($400/1+0.1)^3 + ($400/1+0.1)^4

In [8]:
cash_flow = [400,400,400,400]
interest = 0.1
t = len(cash_flow)
total_sum = 0
initial_investment = 1000
for i in range(0,len(cash_flow)):
    num = cash_flow[i]
    den = (1 + interest)**(i+1)
    total_sum = total_sum + (num/den)
    
npv = total_sum - initial_investment
print(npv)

267.94617853971704

In [9]:
def get_npv(cash_flow,interest,intital_investment):
    total_sum = 0
    for i in range(0,len(cash_flow)):
        num = cash_flow[i]
        den = (1 + interest)**(i+1)
        total_sum = total_sum + (num/den)
    
    npv = total_sum - initial_investment
    print(npv)

In [10]:
pip install numpy_financial

Requirement already satisfied: numpy_financial in /opt/anaconda3/envs/dev/lib/python3.7/site-packages (1.0.0)
Requirement already satisfied: numpy>=1.15 in /opt/anaconda3/envs/dev/lib/python3.7/site-packages (from numpy_financial) (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import numpy as np

In [12]:
import numpy_financial as npf

In [13]:
intrest_rate = 0.1
cash_flow = [-1000,400,400,400,400]

In [14]:
round(npf.npv(intrest_rate,cash_flow),2)

267.95

In [15]:
# Importiting and Editing CSV and Text Files

In [22]:
# can find the path from dragging file into terminal
path = "/Users/alexszabo/Desktop/accounting.csv"

In [23]:
# importing pandas
import pandas as pd

In [27]:
# reading the csv file with panda function
df = pd.read_csv(path)
df['Salary'].max()
df['Salary'].min()
df['Salary'].mean()

74166.66666666667

In [25]:
# the long way
from pathlib import Path

In [20]:
import csv

In [30]:
csvpath = Path("/Users/alexszabo/Desktop/accounting.csv")

In [31]:
# Initialize variable to hold salaries
salaries = []

# Initialize line_num variable
line_num = 0

# Open the input path as a file object
with open(csvpath, 'r') as csvfile:

    # Print the datatype of the file object
    print(type(csvfile))

    # Pass in the csv file to the csv.reader() function
    # (with ',' as the delmiter/separator) and return the csvreader object
    csvreader = csv.reader(csvfile, delimiter=',')
    # Print the datatype of the csvreader
    print(type(csvreader))

    # Go to the next row from the start of the file
    # (which is often the first row/header) and iterate line_num by 1
    header = next(csvreader)
    line_num += 1
    # Print the header
    print(f"{header} <---- HEADER")

    # Read each row of data after the header
    for row in csvreader:
        # Print the row
        print(row)
        # Set salary variable equal to the value in the 4th column of each row
        salary = int(row[3])
        # Append the row salary value to the list of salaries
        salaries.append(salary)

# Initialize metric variables
max_salary = 0
min_salary = 0
avg_salary = 0
total_salary = 0
count_salary = 0
# Calculate the max, mean, and average of the list of salaries
for salary in salaries:

    # Sum the total and count variables
    total_salary += salary
    count_salary += 1

    # Logic to determine min and max salaries
    if min_salary == 0:
        min_salary = salary
    elif salary > max_salary:
        max_salary = salary
    elif salary < min_salary:
        min_salary = salary

# Calculate the average salary, round to the nearest 2 decimal places
avg_salary = round(total_salary / count_salary, 2)

# Print the metrics
print(max_salary, min_salary, avg_salary)

<class '_io.TextIOWrapper'>
<class '_csv.reader'>
['First Name', 'Last Name', 'SSN', 'Salary'] <---- HEADER
['Tina', 'Fleming', '619-16-7988', '75000']
['Erica', 'Shah', '164-51-7615', '40000']
['Paula', 'Ortiz', '051-83-3290', '120000']
['James', 'Hendricks', '776-83-2884', '90000']
['Lauren', 'King', '197-94-2398', '60000']
['David', 'Cowan', '252-92-1832', '35000']
['Andrew', 'Burton', '296-23-6842', '150000']
['Julian', 'Baker', '337-40-7543', '75000']
['Scott', 'Castro', '399-46-5595', '50000']
['Billy', 'Rodriguez', '014-18-2503', '65000']
['Darrell', 'Leblanc', '005-82-7918', '40000']
['David', 'Hammond', '561-17-6312', '90000']
150000 35000 74166.67

In [35]:
df['Salary'].max(),df['Salary'].min(),df['Salary'].mean()

(150000, 35000, 74166.66666666667)

In [36]:
# Set the output header
header = ["Max_Salary", "Min_Salary", "Avg_Salary"]
# Create a list of metrics
metrics = [max_salary, min_salary, avg_salary]

# Set the output file path
output_path = Path('output.csv')

# Open the output path as a file object
with open(output_path, 'w') as csvfile:
    # Set the file object as a csvwriter object
    csvwriter = csv.writer(csvfile, delimiter=',')
    # Write the header to the output file
    csvwriter.writerow(header)
    # Write the list of metrics to the output file
    csvwriter.writerow(metrics)

In [38]:
df['New_Column'] = 'Hello'

In [39]:
df

   First Name  Last Name          SSN  Salary New_Column
0        Tina    Fleming  619-16-7988   75000      Hello
1       Erica       Shah  164-51-7615   40000      Hello
2       Paula      Ortiz  051-83-3290  120000      Hello
3       James  Hendricks  776-83-2884   90000      Hello
4      Lauren       King  197-94-2398   60000      Hello
5       David      Cowan  252-92-1832   35000      Hello
6      Andrew     Burton  296-23-6842  150000      Hello
7      Julian      Baker  337-40-7543   75000      Hello
8       Scott     Castro  399-46-5595   50000      Hello
9       Billy  Rodriguez  014-18-2503   65000      Hello
10    Darrell    Leblanc  005-82-7918   40000      Hello
11      David    Hammond  561-17-6312   90000      Hello

In [40]:
df.to_csv('easy.csv')

In [43]:
path2 = "/Users/alexszabo/Desktop/input.txt"

In [45]:
path2.replace('/','\\')

'\\Users\\alexszabo\\Desktop\\input.txt'

In [46]:
path2.replace('\\','/')

'/Users/alexszabo/Desktop/input.txt'

In [49]:
# imports terminal functions
import os

In [50]:
# tells you where you are (directory)
os.getcwd()

'/Users/alexszabo/Jupyter-Workspace/Python 3'

In [52]:
# shows all files in dir
os.listdir()

['Activities.ipynb',
 'easy.csv',
 'output.csv',
 'Python 3 Notes.ipynb',
 '.ipynb_checkpoints']

In [54]:
# terminal commands using !
!pwd

/Users/alexszabo/Jupyter-Workspace/Python 3

In [56]:
# Import from the pathlib library, the main class Path
from pathlib import Path

# Check the current directory where the Python program is executing from
print(f"Current Working Directory: {Path.cwd()}")

# Set the path normally (Windows)
# Set string raw literal due to backslashes acting as escape characters for
# the Windows file = r'..\Resources\input.txt'

# Set the path normally (Unix)
#file = '../Resources/input.txt'

# Set the input file path irregardless of OS
filepath = path2

# Open the file in "read" mode ('r') and store the
# contents in the variable "text"
with open(filepath, 'r') as file:
    # Store all of the text from the file inside a variable called "text"
    # and print the contexts of the text file
    text = file.read()
    print(text)

    # Parse and print the file line by line. The print statement adds an
    # extra line break to each line in the output.
    line_num = 1
    for line in file:
        print(f"line {line_num}: {line}")
        line_num += 1

# Set the output file path
output_path = Path("output.txt")

# Open the output_path as a file object in "write" mode ('w')
# Write a header line and write the contents of 'text' to the file
with open(output_path, 'w') as file:
    file.write("This is an output file.\n")
    file.write(text)

Current Working Directory: /Users/alexszabo/Jupyter-Workspace/Python 3
List of Best Actors:
Nicolas Cage
Betty White
Gary Busey