# A Cartographers Expedition

Harold wants to have a no-cellphones birthday weekend. This means you have to come up with some way to vet out what locations everyone wants to hit up whie in NYC and plot the routes to each location. Harold wants to use a regular map, but you have something better: Plotly Express Mapbox map plots! 

Don your cartographers hat and create map plots that will pinpoint the location of the places you'll be visitng. Use this as the map/intinerary for Harold's birthday expedition.

In [1]:
import pandas as pd
import plotly.express as px
import os
from pathlib import Path
from dotenv import load_dotenv

### Prep Mapbox API Key

In [2]:
# Read the Mapbox API key
load_dotenv()
map_box_api = os.getenv("mapbox")
'pk.eyJ1IjoiYXN6YWJvZGVmaSIsImEiOiJjbDFiYmJ1cGc1anZnM2Nwa21lYXc5NHV6In0.Ye8pgYDyu8t3Y7mIxI--Tw'
# Set the Mapbox API
px.set_mapbox_access_token(map_box_api)

### Prep Data

In [3]:
# Read in data
places_of_interest = pd.read_csv(Path('harold_bday_plans.csv')).dropna()
places_of_interest.head()

   Id  Longitude   Latitude                Name PlaceType Borough
0  90 -73.888958  40.896210  Van Cortlandt Park      Park   Bronx
1  95 -73.871651  40.889879   Woodlawn Cemetery  Cemetery   Bronx
2  81 -73.838642  40.886965    Seton Falls Park      Park   Bronx
3  69 -73.809802  40.877986     Pelham Bay Park      Park   Bronx
4   8 -73.878308  40.864424    Botanical Garden    Garden   Bronx

In [5]:
places_of_interest

,Id,Longitude,Latitude,Name,PlaceType,Borough
0,90,-73.888958,40.896210,Van Cortlandt Park,Park,Bronx
1,95,-73.871651,40.889879,Woodlawn Cemetery,Cemetery,Bronx
2,81,-73.838642,40.886965,Seton Falls Park,Park,Bronx
3,69,-73.809802,40.877986,Pelham Bay Park,Park,Bronx
4,8,-73.878308,40.864424,Botanical Garden,Garden,Bronx
...,...,...,...,...,...,...
90,73,-74.005553,40.672047,Red Hook Park,Park,Brooklyn
91,80,-73.898472,40.764449,Saint Michael's Cemetery,Cemetery,Queens
92,75,-73.916829,40.892306,Riverdale Park,Park,Bronx
94,87,-73.865019,40.645828,Spring Creek Park Preserve No Access,Park,Brooklyn
95,86,-73.844211,40.646316,Spring Creek Park Gateway National Recreation ...,Park,Queens

### Route 1

In [6]:
# Plot course for first route
# Plot course for first route
first_route = places_of_interest[
    (places_of_interest["Name"].str.contains("Airport"))
    |(places_of_interest["Name"].isin(["Aqueduct Race Track", "Astoria Park"]))
]
route_1 = px.scatter_mapbox(first_route, lat="Latitude", lon="Longitude", color="Name")
route_1.show()

TypeError: '(0     False
1     False
2     False
3     False
4     False
      ...
90    False
91    False
92    False
94    False
95    False
Name: Name, Length: 92, dtype: bool, 0     False
1     False
2     False
3     False
4     False
      ...
90    False
91    False
92    False
94    False
95    False
Name: Name, Length: 92, dtype: bool)' is an invalid key

### Route 2

In [ ]:
# Plot course for second route

### Route 3

In [ ]:
# Plot course for third route

### All Stops

In [ ]:
# Plot course for all stops