In [6]:
# Lecture 3.3 Pandas
!ls

FB Stock Info - Sheet1.csv Lecture.ipynb

In [7]:
# Google Sheets
import pandas as pd
df=pd.read_csv('FB Stock Info - Sheet1.csv')

In [8]:
df

          Date   Close
0    2/12/2021  270.50
1    2/16/2021  273.97
2    2/17/2021  273.57
3    2/18/2021  269.39
4    2/19/2021  261.56
..         ...     ...
264   3/2/2022  208.11
265   3/3/2022  202.97
266   3/4/2022  200.06
267   3/7/2022  187.47
268   3/8/2022  190.29

[269 rows x 2 columns]

In [9]:
type(df['Date'].iloc[0])

str

In [11]:
df['Date']

0      2/12/2021
1      2/16/2021
2      2/17/2021
3      2/18/2021
4      2/19/2021
         ...
264     3/2/2022
265     3/3/2022
266     3/4/2022
267     3/7/2022
268     3/8/2022
Name: Date, Length: 269, dtype: object

In [14]:
df['Date'] = pd.to_datetime(df['Date'])

In [18]:
type(df['Date'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [20]:
df2 = pd.read_csv('FB Stock Info - Sheet1.csv', index_col='Date', parse_dates=True, infer_datetime_format=True)

In [24]:
df2.index[0]

Timestamp('2021-02-12 00:00:00')

In [26]:
type(df2.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [28]:
df2['pct_change'] = df2['Close'].pct_change()

In [29]:
df2

             Close  pct_change
Date
2021-02-12  270.50         NaN
2021-02-16  273.97    0.012828
2021-02-17  273.57   -0.001460
2021-02-18  269.39   -0.015279
2021-02-19  261.56   -0.029066
...            ...         ...
2022-03-02  208.11    0.022704
2022-03-03  202.97   -0.024698
2022-03-04  200.06   -0.014337
2022-03-07  187.47   -0.062931
2022-03-08  190.29    0.015042

[269 rows x 2 columns]

In [34]:
df2['pct_change'].mean()

-0.0009540061760855182