In [1]:
# Importing Pandas
import pandas as pd
!ls

Activity 6.ipynb          bombardier_stock_data.csv

In [7]:
# Read_csv to load the CSV data into a Pandas DataFrame called bbd_df
bbd_df = pd.read_csv("bombardier_stock_data.csv")

In [8]:
bbd_df

         Date  Close
0    3/1/2019   2.90
1    3/4/2019   2.92
2    3/5/2019   2.95
3    3/6/2019   2.83
4    3/7/2019   2.88
..        ...    ...
58  5/24/2019   2.07
59  5/27/2019   2.07
60  5/28/2019   2.07
61  5/29/2019   2.05
62  5/30/2019   2.02

[63 rows x 2 columns]

In [34]:
# finding out the format of Close
bbd_df.dtypes
# infer_datetime_format parameters
bbd_df['Date'] = pd.to_datetime(df['Date'])

In [10]:
# set the index to equal the Date series
bbd_df.set_index(['Date'], inplace=True)

In [13]:
# Assess and clean the data.
bbd_df.drop_duplicates()
bbd_df.dropna()
bbd_df.shape

(63, 1)

In [36]:
# Group data by DatetimeIndex year and month.
bbd_df.groupby(by=[bbd_df.index.month, bbd_df.index.year])

In [30]:
# Select close price for BBD.B for May 2019 by passing in values for year and month indices.
bbd_df.loc['5/2019']

            Close
Date
2019-05-01   2.34
2019-05-02   2.22
2019-05-03   2.29
2019-05-06   2.21
2019-05-07   2.18
2019-05-08   2.17
2019-05-09   2.15
2019-05-10   2.13
2019-05-13   2.09
2019-05-14   2.05
2019-05-15   2.00
2019-05-16   2.15
2019-05-17   2.11
2019-05-21   2.19
2019-05-22   2.10
2019-05-23   2.08
2019-05-24   2.07
2019-05-27   2.07
2019-05-28   2.07
2019-05-29   2.05
2019-05-30   2.02

In [31]:
# Take this activity to the next level by calculating the mean close price for BBD.B for all of 2019.
bbd_df.loc['2019'].mean()

Close    2.535556
dtype: float64