In [1]:
# Python 2 Notes

In [3]:
a = ['John','Sam','Albert','Owen','Leslie']

In [4]:
a[2]

'Albert'

In [5]:
a[4]

'Leslie'

In [8]:
# Casting
[a[2]]+[a[-1]]

['Albert', 'Leslie']

In [9]:
x=3

In [10]:
x

3

In [11]:
type(x)

int

In [12]:
x=str(3)

In [13]:
x

'3'

In [14]:
a[-3]

'Albert'

In [18]:
# Counts last last 3 of array
a[-3:]

['Albert', 'Owen', 'Leslie']

In [17]:
# Flips list
a[::-1]

['Leslie', 'Owen', 'Albert', 'Sam', 'John']

In [25]:
# Stack Collection
# Add to end of array
a.append('Faye')

In [20]:
a

['John', 'Sam', 'Albert', 'Owen', 'Leslie', 'Faye']

In [26]:
# Get rid of specified position # in array of list a
a.pop(0)

'Albert'

In [27]:
a

['Owen', 'Leslie', 'Faye', 'Faye']

In [2]:
# append + pop(0) = queue
# append + pop = stack
a.append.pop(0)

In [35]:
# Finds the # in the array of deisred string
a.index('Owen')

0

In [ ]:
# remove, removes a name in array
a.remove('Leslie')

In [46]:
a

['Owen', 'Faye', 'John']

In [47]:
# creates a tuple out of a list
# tupes differ from list as you cant change them
tuple(enumerate(a))

((0, 'Owen'), (1, 'Faye'), (2, 'John'))

In [48]:
type(a)

list

In [49]:
a.pop(0)

'Owen'

In [50]:
a

['Faye', 'John']

In [7]:
# Dictionaries
# JSON is a dictionary that reltates strings and values
# In a dictionary everything is floating (no order)
# Ordered dictionary are not floating

# Creating a Dictionary
# with Integer Keys
Dict = {1: 'John', 2: 'Allice', 3: 'Bob'}

In [8]:
# Finding Keys
Dict.keys()

dict_keys([1, 2, 3])

In [9]:
# Finding values
Dict.values()

dict_values(['John', 'Allice', 'Bob'])

In [10]:
# Adding a key and value
Dict[4] = 'Vanessa'

In [11]:
Dict

{1: 'John', 2: 'Allice', 3: 'Bob', 4: 'Vanessa'}

In [12]:
# Deleting a dictionary value and key
del Dict[4]

In [13]:
# Showing that this dictionary does is not indexed
Dict['new person'] = 'Vanessa'

In [14]:
Dict

{1: 'John', 2: 'Allice', 3: 'Bob', 'new person': 'Vanessa'}

In [15]:
# Initialize a dictionary
trading_pnl = {
    "title": "Trading Log",
    "03-18-2019": -224,
    "03-19-2019": 352,
    "03-20-2019": 252,
    "03-21-2019": 354,
    "03-22-2019": -544,
    "03-23-2019": -650,
    "03-24-2019": 56,
    "03-25-2019": 123,
    "03-26-2019": -43,
    "03-27-2019": 254,
    "03-28-2019": 325,
    "03-29-2019": -123,
    "03-30-2019": 47,
    "03-31-2019": 321,
    "04-01-2019": 123,
    "04-02-2019": 133,
    "04-03-2019": -151,
    "04-04-2019": 613,
    "04-05-2019": 232,
    "04-06-2019": -311
}

In [22]:
# Grabbing a spcific value with its key
trading_pnl["03-29-2019"]

-123

In [28]:
# printing the keys
for key in trading_pnl.keys():
    print(key)

title
03-18-2019
03-19-2019
03-20-2019
03-21-2019
03-22-2019
03-23-2019
03-24-2019
03-25-2019
03-26-2019
03-27-2019
03-28-2019
03-29-2019
03-30-2019
03-31-2019
04-01-2019
04-02-2019
04-03-2019
04-04-2019
04-05-2019
04-06-2019

In [33]:
# turning dictionary values into a list
closing_prices=[]
for key in trading_pnl.keys():
    print(f" the value for {key} is {trading_pnl[key]}.")
    closing_prices.append(trading_pnl[key])

 the value for title is Trading Log.
 the value for 03-18-2019 is -224.
 the value for 03-19-2019 is 352.
 the value for 03-20-2019 is 252.
 the value for 03-21-2019 is 354.
 the value for 03-22-2019 is -544.
 the value for 03-23-2019 is -650.
 the value for 03-24-2019 is 56.
 the value for 03-25-2019 is 123.
 the value for 03-26-2019 is -43.
 the value for 03-27-2019 is 254.
 the value for 03-28-2019 is 325.
 the value for 03-29-2019 is -123.
 the value for 03-30-2019 is 47.
 the value for 03-31-2019 is 321.
 the value for 04-01-2019 is 123.
 the value for 04-02-2019 is 133.
 the value for 04-03-2019 is -151.
 the value for 04-04-2019 is 613.
 the value for 04-05-2019 is 232.
 the value for 04-06-2019 is -311.

In [34]:
# printing the list of values
closing_prices

['Trading Log',
 -224,
 352,
 252,
 354,
 -544,
 -650,
 56,
 123,
 -43,
 254,
 325,
 -123,
 47,
 321,
 123,
 133,
 -151,
 613,
 232,
 -311]

In [35]:
# getting rid of the first element in the list because it is a string
closing_prices = closing_prices[1:]

In [36]:
closing_prices[1:]

[352,
 252,
 354,
 -544,
 -650,
 56,
 123,
 -43,
 254,
 325,
 -123,
 47,
 321,
 123,
 133,
 -151,
 613,
 232,
 -311]

In [37]:
new_dict = {}

In [40]:
# Creating a for loop that goes unitl the length of closing prices complete
# This adds all values from 0 untill the last element is added
for i in range(0, len(closing_prices)):
    # telling python that the number in new dict of i is equal to that of prices at i
    new_dict[i]=closing_prices[i]

In [41]:
new_dict

{0: -224,
 1: 352,
 2: 252,
 3: 354,
 4: -544,
 5: -650,
 6: 56,
 7: 123,
 8: -43,
 9: 254,
 10: 325,
 11: -123,
 12: 47,
 13: 321,
 14: 123,
 15: 133,
 16: -151,
 17: 613,
 18: 232,
 19: -311}

In [43]:
# defining newer dict
newer_dict = {}
# if we want to start from 1
for i in range(0, len(closing_prices)):
    # telling python to start from one not 0
    newer_dict[i+1] = closing_prices[i]

In [44]:
newer_dict

{1: -224,
 2: 352,
 3: 252,
 4: 354,
 5: -544,
 6: -650,
 7: 56,
 8: 123,
 9: -43,
 10: 254,
 11: 325,
 12: -123,
 13: 47,
 14: 321,
 15: 123,
 16: 133,
 17: -151,
 18: 613,
 19: 232,
 20: -311}

In [67]:
# Dictionary of Dicts
stocks_nested_dict = {
    "APPL": {
        "name": "Apple",
        "exchange": "NASDAQ",
        "market_cap": 937.7
    },
    "MU": {
        "name": "Micron Technology",
        "exchange": "NASDAQ",
        "market_cap": 48.03
    },
    "AMD": {
        "name": "Advanced Micro Devices",
        "exchange": "NASDAQ",
        "market_cap": 29.94
    },
    "TWTR": {
        "name": "Twitter",
        "exchange": "NASDAQ",
        "market_cap": 26.42
    }
}

In [68]:
# changing apples market cap
stocks_nested_dict['APPL']['market_cap'] = 999

In [69]:
stocks_nested_dict

{'APPL': {'name': 'Apple', 'exchange': 'NASDAQ', 'market_cap': 999},
 'MU': {'name': 'Micron Technology',
  'exchange': 'NASDAQ',
  'market_cap': 48.03},
 'AMD': {'name': 'Advanced Micro Devices',
  'exchange': 'NASDAQ',
  'market_cap': 29.94},
 'TWTR': {'name': 'Twitter', 'exchange': 'NASDAQ', 'market_cap': 26.42}}

In [70]:
# grabbing all the market caps
# do for ticker in stock_nested_dict.keys() to define tell python to go look at keys
# do print(stocks_nested_dict[ticker]) to print the whole dict
# do print(stocks_nested_dict[ticker]['market_cap']) to go into dict keys the locate ticker and read values from 0 to ticker
for ticker in stocks_nested_dict.keys():
    print(stocks_nested_dict[ticker]['market_cap'])

999
48.03
29.94
26.42

In [71]:
# pythons functions syntax
# defining a function
def add_two(x):
    y = x+2
    return y

In [72]:
add_two(3)

5

In [73]:
# defining get market cap at ticker and telling it to return the market_cap
def get_market_cap(ticker):
    return stocks_nested_dict[ticker]['market_cap']

In [74]:
get_market_cap('APPL')

999

In [76]:
# List of Lists
ceo_nested_list = [
    ["Warren Buffet", 88, "CEO of Berkshire Hathaway"],
    ["Jeff Bezos", 55, "CEO of Amazon"],
    ["Harry Markowitz", 91, "Professor of Finance"]
]

In [86]:
# acesses the list, then tells it to acess the 0th column in the lest and the 1st row. 
ceo_nested_list[0][1]

88