In [1]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
# Load .env enviroment variables
load_dotenv()

True

In [3]:
# Set Alpaca API key and secret
# YOUR CODE HERE!
alpaca_api_key = os.getenv('ALPACA_API_KEY')
alpaca_secret_key = os.getenv('ALPACA_SECRET_KEY')
# Create the Alpaca API object
# YOUR CODE HERE!
from alpaca_trade_api.rest import REST, TimeFrame
alpaca_api = REST(alpaca_api_key,alpaca_secret_key)

In [26]:
yesterday = pd.Timestamp.now(tz="America/New_York") - pd.Timedelta(days=1)

start = (yesterday - pd.Timedelta(days=1460)).strftime('%Y-%m-%d')
end = yesterday.strftime('%Y-%m-%d')

# Set the tickers
tickers = [""]

# Set timeframe to '1D' for Alpaca API
timeframe = "1DAY"

df_tickers = alpaca_api.get_bars(tickers, TimeFrame.Day, start, end).df

# Preview DataFrame
df_tickers.head()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2018-04-09 04:00:00+00:00,22.85,23.35,22.650,23.00,276852,2256,23.100142,ETH
2018-04-10 04:00:00+00:00,23.05,23.15,22.575,22.65,348168,2673,22.782257,ETH
2018-04-11 04:00:00+00:00,22.45,22.75,22.025,22.30,431988,3323,22.285096,ETH
2018-04-12 04:00:00+00:00,22.35,22.60,22.150,22.40,198987,1791,22.410171,ETH
2018-04-13 04:00:00+00:00,22.40,22.60,21.800,22.35,344724,2421,22.269010,ETH

In [25]:
len(df_tickers)

17