In [2]:
import pandas as pd
!ls

Untitled.ipynb       people_cleansed.csv  people_reordered.csv

In [5]:
people_cleansed = pd.read_csv("people_cleansed.csv")
people_reordered = pd.read_csv("people_reordered.csv")

In [6]:
people_reordered.head()

,Unnamed: 0,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age
0,0,1.0,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27
1,1,2.0,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,22
2,2,3.0,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40
3,3,4.0,NaN,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,62
4,4,5.0,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,47

In [8]:
people_reordered.drop(columns='Unnamed: 0', inplace=True)

In [15]:
len(people_reordered)

1000

In [12]:
people_reordered['First_Name'].duplicated().sum()

85

In [14]:
people_reordered.isnull().sum()

Person_ID      4
Last_Name     10
First_Name     7
Gender         2
University     9
Occupation     2
Salary         2
Email          8
Age            0
dtype: int64

In [18]:
((people_reordered.isnull().sum()) / len(people_reordered)) * 100

Person_ID     0.4
Last_Name     1.0
First_Name    0.7
Gender        0.2
University    0.9
Occupation    0.2
Salary        0.2
Email         0.8
Age           0.0
dtype: float64

In [19]:
people_reordered.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999     True
Length: 1000, dtype: bool

In [20]:
people_reordered['First_Name'].duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999     True
Name: First_Name, Length: 1000, dtype: bool

In [21]:
people_reordered['Last_Name'].duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999     True
Name: Last_Name, Length: 1000, dtype: bool

In [22]:
people_reordered['First_Name'].fillna("Unnamed", inplace=True)
people_reordered['Last_Name'].fillna("Unnamed", inplace=True)

In [24]:
people_reordered.dropna(inplace=True)

In [25]:
people_reordered.isnull().sum()

Person_ID     0
Last_Name     0
First_Name    0
Gender        0
University    0
Occupation    0
Salary        0
Email         0
Age           0
dtype: int64

In [28]:
people_reordered2 = people_reordered.drop_duplicates(
  subset = ['First_Name', 'Last_Name'],
  keep = 'last').reset_index(drop = True)

In [29]:
people_reordered2

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age
0,1.0,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27
1,2.0,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,22
2,3.0,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40
3,4.0,Unnamed,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,62
4,5.0,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,47
...,...,...,...,...,...,...,...,...,...
967,995.0,Jeacop,Iggy,Male,University of Greenwich,Sales Associate,82726.0,ijeacoprm@4shared.com,22
968,996.0,Crumpton,Meta,Female,ECAM - Institut Supérieur Industriel,Registered Nurse,57060.0,mcrumptonrn@qq.com,52
969,997.0,Gilford,Gunar,Male,Smolny University,Marketing Manager,76109.0,ggilfordro@yandex.ru,32
970,998.0,Gurling,Lucretia,Female,Institut Teknologi Telkom,Software Engineer III,92115.0,lgurlingrp@de.vu,48
971,999.0,Yang,Andrew,Male,Rutgers University School of Business,Curriculum Engineer,60000.0,ayang@codedrills.com,53

In [30]:
people_reordered2['Person_ID'].astype(int)

0        1
1        2
2        3
3        4
4        5
      ...
967    995
968    996
969    997
970    998
971    999
Name: Person_ID, Length: 972, dtype: int64

In [32]:
people_reordered2.dtypes

Person_ID     float64
Last_Name      object
First_Name     object
Gender         object
University     object
Occupation     object
Salary        float64
Email          object
Age             int64
dtype: object

In [33]:
Resources = people_reordered2

In [34]:
Resources

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age
0,1.0,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27
1,2.0,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,22
2,3.0,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40
3,4.0,Unnamed,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,62
4,5.0,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,47
...,...,...,...,...,...,...,...,...,...
967,995.0,Jeacop,Iggy,Male,University of Greenwich,Sales Associate,82726.0,ijeacoprm@4shared.com,22
968,996.0,Crumpton,Meta,Female,ECAM - Institut Supérieur Industriel,Registered Nurse,57060.0,mcrumptonrn@qq.com,52
969,997.0,Gilford,Gunar,Male,Smolny University,Marketing Manager,76109.0,ggilfordro@yandex.ru,32
970,998.0,Gurling,Lucretia,Female,Institut Teknologi Telkom,Software Engineer III,92115.0,lgurlingrp@de.vu,48
971,999.0,Yang,Andrew,Male,Rutgers University School of Business,Curriculum Engineer,60000.0,ayang@codedrills.com,53